<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置bean -->
    <bean id="arithmeticCalculator" class="com.onevgo.spring.aop.xml.ArithmeticCalculatorImpl"></bean>

    <!-- 配置切面的bean -->
    <bean id="loggingAspect" class="com.onevgo.spring.aop.xml.LoggingAspect"></bean>

    <bean id="validateAspect" class="com.onevgo.spring.aop.xml.ValidateAspect"></bean>

    <!-- 配置AOP -->
    <aop:config>
        <!-- 配置切点表达式 -->
        <aop:pointcut id="pointcut" expression="execution(public int com.onevgo.spring.aop.xml.*.*(..))"/>
        <!-- 配置切面及通知 -->
        <aop:aspect id="" ref="loggingAspect" order="2">
            <aop:before method="beforeMethod" pointcut-ref="pointcut"/>
            <aop:after method="afterMethod" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="pointcut" returning="result"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="ex"/>
        </aop:aspect>
        <aop:aspect id="" ref="validateAspect" order="1">
            <aop:before method="validateArgs" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

</beans>